doctype html
html
  head
    meta(charset="utf-8")
    title Advanced JSON Editor Example
    
  body
    script(src="../js/jsoneditor.js")
    button#submit Submit (console.log)
    button#restore Restore to Default
    button#enable_disable Disable/Enable Form
    span#valid_indicator
    #editor_holder
    script(type='text/javascript').
      var pokedata = !{JSON.stringify(data)};
    script(src="../js/modify.js").
    
