- for (var i = 0; i < 2; i++)
  - var pokemonClass = (i === yourIndex ? " bottom" : " top")
  - var team = (i === yourIndex ? yourTeam : opponentTeam).get('pokemon')
  - for (var j = 0, len = team.length; j < len; j++)
    .pokemon.hidden(class = pokemonClass, data-team = i, data-slot = j)
      if (team.at(j).attributes.species == 'Zoroark' || team.at(j).attributes.species == 'Zorua') && team.at(j).attributes.percent == 100
        != window.JST['battle_pokemon']({pokemon: team.at(team.length - 1)})
      else
        != window.JST['battle_pokemon']({pokemon: team.at(j)})
