p
  strong Format:
.dropdown
  .select.select-format(data-toggle = "dropdown")
  ul.dropdown-menu.format-dropdown(role = "menu")
    - var allformats = window.PokeBattle.conditions.Formats()
    each format in allformats
      li
        a.select-format-dropdown-item(data-format="#{format.name}") #{format.humanName}

p
  strong Select a team:
.dropdown
  .select.select-team.rounded(data-toggle = "dropdown")
    strong Your team
  ul.dropdown-menu.team-dropdown(role = "menu")

if defaultClauses
  p
    strong Clauses:
  ul.challenge_clauses.well
    for value in window.SelectableConditions
      - var checked = (defaultClauses.indexOf(value) >= 0)
      - var clause = window._.invert(window.Conditions)[value]
      li
        label
          input(type = "checkbox", value = value, checked = checked, data-clause = value)
          |  #{window.HumanizedConditions['en'][clause]}
